article{
    background-color: #818a88;
    width: 350px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 2rem;

    img {
        padding: 1rem;
    }

    h3{
        width: 100%;
    }
    h4{
        width: 100%;
        margin: 0;
    }
    p{
        width: 100%;
        margin: 0;
    }
    a{
        height: 40px;
        width: 150px;
        margin: 1rem;
        text-align: center;
        background-color: rgb(44, 44, 44);
        border-radius: 1rem;
        color: white;
    }
}